<!doctype html>
<html lang="en">
  <head>
    {% include head.html %} 
    <link rel="stylesheet" href="{{ site.baseurl }}/css/boxes.css">
    <style>
        #container {
            margin: 0;
            justify-content: left;
        }
        #box-content{
            margin-top: 10px;
        }
        #box_content_search{
            display: flex;
            flex-direction: column;
        }
        #docsearch .DocSearch-Button {
            margin-top: 10px;
            margin-left: auto;
            margin-right: 50px;
        }
    </style>
  </head>
  <body>
    <div id="container">
        {% include sidebar.html %}
    
      <section id="box-content">
        {% for item in site.data.index.tabs %}
          {% if page.dir == item.path or page.dir == "/" and item.default_tab and item.default_tab == "yes" %}
            {% for entry in item.subitems %}
            {% if entry.path %}
            <a class="box" href="{{ site.baseurl }}{{ entry.path }}">
            {% else %}
            <a class="box" href="{{ entry.url }}">
            {% endif %}
              <span><img src="{{ site.baseurl }}{{ entry.imagepath }}" width="121" height="121" alt=""></span>
              <span class="title">{{ entry.title }}</span>
              <span>{{ entry.description }}</span>
            </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </section>
    </div>

    {% include search.html %}

  </body>
</html>
